body {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  font-weight: 400, 700;
}
h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
:root {
  --main-brand-color: hsl(256, 26%, 20%);
  --primary-color: hsl(216, 30%, 68%);
  --text-color: hsl(273, 4%, 51%);
}
header {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.introleft {
  position: absolute;
  top: 523px;
  left: 0;
}
.introright {
  position: absolute;
  right: 0;
  top: 800px;
}
.mainpart {
  background-color: var(--main-brand-color);
  color: white;
  height: 375px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainpart h1 {
  margin-top: 0px;
}
.mainpart button {
  background-color: var(--main-brand-color);
  color: white;
  border-color: white;
  padding: 5px 20px;
}
.picture1 {
  margin-bottom: -4px;
}
.mainpart2 {
  background-color: var(--main-brand-color);
}
.mainpart2 button {
  background-color: var(--main-brand-color);
  color: white;
  border-color: white;
  padding: 5px 20px;
}
.fatherbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  gap: 50px;
}
.fatherbox p {
  color: var(--text-color);
}
.firsthr {
  margin-top: 120px;
  width: 30%;
}
.mainpart2 {
  color: white;
  height: 250px;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
}
.mainpart2 h1 {
  padding-top: 50px;
}
.howwework {
  position: absolute;
  height: 250px;
  right: 20px;
}
.end {
  margin-top: 200px;
  text-align: center;
}
.endpart1 {
  margin-top: 20px;
}
.secondhr {
  margin-top: 30px;
  width: 80%;
}
.footer {
  position: absolute;
  left: 0;
  top: 2550px;
}
nav {
  text-align: center;
}
nav li {
  list-style: none;
  color: hsl(270, 9%, 17%);
}
nav ul {
  padding: 0;
}
nav h4 {
  color: var(--text-color);
}
